/* @override 
	http://localhost:3000/stylesheets/screen.css?1254005882
	http://localhost:3000/stylesheets/screen.css?1254012512
	http://localhost:3000/stylesheets/screen.css?1254013424
	http://localhost:3000/stylesheets/screen.css?1254013915
	http://localhost:3000/stylesheets/screen.css?1254013997
	http://localhost:3000/stylesheets/screen.css?1254014060
	http://localhost:3000/stylesheets/screen.css?1254014341
	http://localhost:3000/stylesheets/screen.css?1254015726
	http://localhost:3000/stylesheets/screen.css?1254016039
	http://localhost:3000/stylesheets/screen.css?1254016599
	http://localhost:3000/stylesheets/screen.css?1254016628
	http://localhost:3000/stylesheets/screen.css?1254017258
	http://localhost:3000/stylesheets/screen.css?1254017507
	http://localhost:3000/stylesheets/screen.css?1254018636
*/

html,body {
	height: 100%;
	background-color: #0a5379;
	font-family: Georgia, "Times New Roman", Times, serif;
}

div.wrap {
	width: 920px;
	margin: 0px auto;
	overflow: auto;
}

#header {
	background-color: #ffcf00;
	overflow: auto;
	border-bottom: 1px solid #dbb600;
	width: 100%;
}

#header div.wrap div.logo {
	float: left;	
	overflow: auto;
	height: 90px;
	width: 285px;
	margin-top: 1em;
}

#header div.wrap div.logo h1 {
	font-size: 4em;
	line-height: 1.2em;
	text-align: right;
	letter-spacing: -2px;
	overflow: hidden;
}

#header div.wrap div.logo h1 a {
	text-decoration: none;
	z-index:1000;
}

#header div.wrap div.logo h1 a:hover {
	color: white;
	background: none;
}

#header div.wrap div.logo h2 {
	margin-right: 2.5em;
	letter-spacing: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: right;
	margin-top: -0.9em;
	color: #3e2a2a;
	z-index:-2;
}

#header div.wrap div.utilities {
	float: right;
	margin-top: 2.5em;

}

#header div.wrap div.utilities a {
	background-color: #1070a1;
	color: white;
	padding: 8px 20px;
	display: block;
	float: left;
	text-transform: lowercase;
	text-decoration: none;

}

#header div.wrap div.utilities a#sign_up_link {
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-topleft:10px;	
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-top-left-radius:10px;	
}

#header div.wrap div.utilities a#sign_in_link {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius: 10px;
	
}

#header div.wrap div.utilities a:hover {
	background-color: #2b484e;
}

#header div.wrap div.utilities a:first {
	border-right: 2px solid #fff;
}

#content {
	background-color: #FFF;
	padding: 10px;
	background: url(../images/background.gif) repeat-x;
}


#content .wrap {
	padding: 20px 30px;
	padding-top: 40px;

	background-color: white;
	min-height: 200px;
	border: 1px solid #23b6ff;
	font-size: 1.5em;

}

#content div.wrap h2 {
	font-size: 1.5em;
	line-height: 1.3em;
	padding-left: 1em;
}

#content p#welcome {
	color: #e4bd00;
	font: normal 1em Georgia, "Times New Roman", Times, serif;
	text-transform: lowercase;
	text-indent: 0;
	letter-spacing: 0;
	padding-left: 1.5em;
}

#content div.wrap ol {
	width: 810px;
	overflow: auto;
	margin: 2em auto;
}

#content div.wrap ol li {
	float: left;
	width: 250px;
	margin-right: 20px;
}

#content div.wrap ol li h3 {
	text-align: center;
	font: 2em Georgia, "Times New Roman", Times, serif;
	color: #178ac3;
	height: 100px;
}

#content div.wrap ol li span {
	width: 100%;
	height: 200px;
	display: block;
	cursor: pointer;
	background-image: url(../images/background.gif);
}

#content div.wrap ol li span:hover {
	background-image: none;
	background-color: #0a5379;
}


#content div.wrap ol li p.small {
	text-align: center;
	margin-top: 1em;
	font: 0.9em/1.6em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #525252;
	height: 90px;	
}

#content div.wrap ol li a.learn_more {
	text-align: center;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	background-color: #ffcf00;
	text-transform: lowercase;
	color: #886d00;
	font: 1.2em Georgia, "Times New Roman", Times, serif;
	width: 100px;
	margin: 0px auto;
	-moz-border-radius-bottom:10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius: 10px;		
}

#content div.wrap ol li a.learn_more:hover {
	background-color: #063f5d;
	color: white;
}

#footer {
	background-color: #0a5379;
	border-top: 2px solid #408DFF;
	color: white;
	text-align: center;
	font-size: 4em;
	line-height: 2em;
	padding-bottom: 0.5em;
}